.TrackPreview-action p {
  cursor: pointer;
  padding: .5rem;
  font-size: .833rem;
  transition: color .25s;
}
.TrackPreview-action img {
  height: 40px;
  padding: .5rem;
}

.TrackPreview-action img:hover {
  opacity: 0.5;
}
